doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css' integrity='sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=' crossorigin='anonymous')
        link(rel='stylesheet' href='css/style.css')
        title WebCage Chat App
    body
        .chat-container
            header.chat-header
                h1
                    i.fas.fa-kiwi-bird
                    |  WebCage
                a#leave-btn.btn(href='/') Leave Room
            main.chat-main
                .chat-sidebar
                    h2#room-name
                    h3
                        i.fas.fa-user
                        |  Online
                    ul#users
                .chat-messages
            .chat-form-container
                form#chat-form
                    input#msg(type='text' placeholder='Type a Message' required='' autocomplete='off')
                    button.btn-plane
                        i.fas.fa-paper-plane
        script(src='https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.2/qs.min.js' integrity='sha256-TDxXjkAUay70ae/QJBEpGKkpVslXaHHayklIVglFRT4=' crossorigin='anonymous')
        script(src='/socket.io/socket.io.js')
        script(src='js/main.js')